@value makerWhite, makerGreen, makerLightGrey from '/src/common/colors.css';
@value mediaQuery from '/src/common/size.css';

.contentTitle {
  color: makerGreen;
}
.cardPreview {
  background-color: makerWhite;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-left: 1px solid makerLightGrey;
  flex: 1;
}

.previewList {
  list-style: none;
  width: 80%;
  margin: auto;
  padding: 0;
}

@media (max-width: mediaQuery) {
  .cardPreview {
    border: none;
  }
}
