@value makerLightGrey, makerWhite, makerGreen, makerGrey from '/src/common/colors.css';
@value mediaQuery from '/src/common/size.css';

.editor {
  flex-basis: 50%;
  border-right: 1px solid makerLightGrey;
  padding: 0.5em 2em;
  overflow-y: scroll;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}
