@value makerLightGrey, makerWhite, makerGreen, makerGrey from '/src/common/colors.css';
@value mediaQuery from '/src/common/size.css';

* {
}
input {
  border: 1px solid makerGrey;
}
.contentTitle {
  color: makerGreen;
}
.cardMaker {
  background-color: makerWhite;
  width: 50%;
  padding: 0 1em;
}

@media (max-width: mediaQuery) {
  .cardMaker {
    width: 100%;
  }
}
