@value makerLightGrey, makerWhite, makerGreen, makerGrey from '/src/common/colors.css';
@value mediaQuery from '/src/common/size.css';

* {
}
input {
  border: 1px solid makerGrey;
}
.contentTitle {
  color: makerGreen;
}
.cardMaker {
  background-color: makerWhite;
  width: 50%;
}

.cardForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 1em;
}
.firstLine {
  display: flex;
  width: 100%;
}
.name {
  width: 30%;
  flex: 1;
  padding: 0.5em 0.2em;
}
.company {
  width: 30%;
  flex: 1;
  padding: 0.5em 0.2em;
}
.light {
  width: 30%;
  flex: 1;
  padding: 0.5em 0.2em;
  border: 1px solid makerGrey;
}

.secondLine {
  display: flex;
  width: 100%;
}
.title {
  width: 50%;
  padding: 0.5em 0.2em;
}
.email {
  width: 50%;
  padding: 0.5em 0.2em;
}

.thirdLine {
  display: flex;
  width: 100%;
}
.message {
  width: 100%;
  padding: 0.4em 0.2em;
  resize: none;
  border: 1px solid makerGrey;
}

.lastLine {
  display: flex;
  width: 100%;
}
.fileInputLabel {
  width: 50%;
  padding: 0.2em 0.2em;
  background-color: makerLightGrey;
  border: 1px solid makerGrey;
}
.fileInput {
  display: none;
}
.btn {
  width: 50%;
  padding: 0.2em 0.2em;
  background-color: makerGreen;
  color: makerWhite;
  font-weight: bold;
  border: 1px solid makerGrey;
}

@media (max-width: mediaQuery) {
  .cardMaker {
    width: 100%;
  }
}
